.container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  svg{
    position: fixed;
  }

  .blob1, .blob2{
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

    transition: 2s ease-in-out scale;
  }

  .blob1{
    animation-name: rotate1;
    animation-duration: 20s;
  }

  .blob2{
    animation-name: rotate2;
    animation-duration: 30s;
  }
}

@keyframes rotate1 {
  to{
    transform: rotate(1turn) scale(0.4);
  }
}
@keyframes rotate2{
  to{
    transform: rotate(-1turn) scale(1.8);
  }
}

@media screen and (max-width: 768px){
  .blob1, .blob2{
    animation: none !important
  }
}